@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

:root {
  --blue: #00009e;
  --gray-dark: #2e282a;
  --blue-dark: #0d160b;
  --yellow: #e3b505;
  --yellow-light: #f7ffb4;
  --red: #ea3546;
  --white: #f9fbf2;

  --background: #3A3A3A;
  --primary: #F39323;
  --secondary: #EEEEEE;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue);
  background-color: #f9f9f9;
  font-size: 1.4rem;
  color: var(--gray-dark);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: none;
}

.mark-text {
  color: var(--yellow-light);
  filter: drop-shadow(-10px -10px 15px var(--blue));
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

@media (min-width: 0) {
  section,
  footer {
    padding: 2rem 3rem;
  }
}

@media (min-width: 960px) {
  section,
  footer {
    padding: 0.5rem 1.5rem;
  }
}


