.header {
  background: url(/assets/background.jpg) no-repeat center/cover;
}

@media (min-width: 0) {
  .nav {
    display: none;
  }
}

@media (min-width: 1000px) {

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-logo {
    display: block;
    width: 90px;
    margin: 2rem;
  }

  .nav-menu {
    margin: 2rem 3rem 0 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .nav-item {
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--white)
  }

  .nav-item:last-child {
    background-color: var(--primary);
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    color: var(--white);
    transition: all 0.2s;
  }

  .nav-item:last-child:hover {
    transform: scale(1.1);
  }

  .line {
    width: 0;
    background-color: var(--primary);
    height: 3px;
    border-radius: 5px;

    transition: all 0.3s;
  }

  .nav-item:hover .line {
    width: 100%;
  }
}

@media (max-width: 1000px)  {
  .header {
    background: url(/assets/background-mobile.png) no-repeat center/cover fixed;
  }  
}

