.gallery {
  display: flex;
  height: 85vh;
  background-color: #212121;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
}

.gallery-title  {
  font-size: 3.5rem;
  color: #c7c7c7;
  padding: 20px;
  font-weight: 500;
}

.photos {
  max-width: 1200px;
}

.photo {
  overflow: hidden;
  height: 200px;
  width: 200px;
  margin: 0.5rem;
  transition: all ease-in-out 0.2s;
}
.photo:hover {
  transform: scale(1.08);
}

@media(max-width: 1100px) {
  .gallery {
    height: auto;
  }

  .photos {
    max-width: 250px;
  }

  .photo {
    width: 100px;
    height: 100px;
  }
}