@media(min-width: 600px) {
    .sobre {
        min-height: 600px;
    }
}

.sobre {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
    position: relative;
    background-color: #212121;
    min-width: none;
}

.image {
    width: 360px;
    height: 360px;
    margin: 1rem;
    z-index: 99;
}

.text {
    max-width: 600px;
    text-align: start;
    margin-left: 2rem;
}

.title-line {
    background-color: var(--primary);
    height: 3px;
    border-radius: 5px;
    width: 10%;
    margin-bottom: 2rem;
  }

.sobre-title {
    font-size: 3rem;
    font-weight: 700;
    color: #c7c7c7
}

.sobre-description {
    font-size: 1.5rem;
    font-weight: 500;
    color: #e7e7e7;
}


.custom-shape-divider-bottom-1654130707 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654130707 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 107px;
    margin: 0;
}

.custom-shape-divider-bottom-1654130707 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1654130707 svg {
        width: calc(109% + 1.3px);
        height: 40px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1654130707 svg {
        width: calc(119% + 1.3px);
        height: 25px;
    }
}

@media (max-width: 1000px)  {
    .sobre {
        min-height: 700px;
        height: auto;
        flex-direction: column;
    }
    
    .image {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }

    .text {
        text-align: left;
        font-size: 1rem;
    }
}