.valores {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    position: relative;
    background-color: #ffffff;
}

.statement {
    display: flex;
    justify-content: center;
    align-items: top;
}

.statement-card {
    max-width: 20%;
    margin: 2.5em;
}

.elipses {
    width: 200px;
    margin: 2rem 3rem 0rem;
}

.statement-title {
    font-size: 2.5rem;
    padding: 1rem;
    color: #8f8f8f;
}

.statement-text {
    font-size: 1.5rem;
    color: #7b7b7b;
}

@media (max-width: 1000px)  {
    .valores {
        width: 100%;
        min-height: 700px;
        height: 100vh;
        justify-content: center;
    }

    .statement {
        flex-direction: column;
    }

    .statement-card {
        max-width: 250px;
        margin: 2rem;
    }

    .elipses {
        display: none;
    }
}