.servicos {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  position: relative;
  background-color: #ffffff;
}

.cards {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.servicos-title {
  font-size: 2.8rem;
  color: #7b7b7b
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  margin: 3rem;
  width: 90%;
  justify-content: center;
  height: 300px;
  border-radius: 10px;
  background-color: var(#ffff);
  box-shadow: 5px 5px 20px #ebebeb, -5px -5px 20px #ebebeb;
  padding: 1.5rem;
}

.card-icon {
  width: 50px;
  margin: 2rem 0;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem;
}

.custom-shape-divider-bottom-1654118195 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654118195 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 95px;
}

.custom-shape-divider-bottom-1654118195 .shape-fill {
  fill: #212121;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1654118195 svg {
      width: calc(184% + 1.3px);
      height: 65px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1654118195 svg {
      width: calc(213% + 1.3px);
      height: 55px;
      margin-bottom: -2px
  }
}

@media (max-width: 1000px)  {
  .servicos {
    height: auto;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: auto;
  }

  .card-icon {
    width: 45px;
    margin: 1rem 0;
  }
}